:root {
  /** neutral */

  --neutral-3: #fafbfc;
  --neutral-5: #f7f8fa;
  --neutral-7: #f3f6f8;
  --neutral-10: #eff2f5;
  --neutral-15: #e7ecf1;
  --neutral-20: #e1e7ed;
  --neutral-30: #d5dee6;
  --neutral-40: #cad5df;
  --neutral-50: #c1ced9;
  --neutral-60: #b8c7d4;
  --neutral-70: #b0c1d0;
  --neutral-80: #a9bbcb;
  --neutral-90: #a2b6c7;
  --neutral-100: #9cb1c3;
  --neutral-125: #8ea6bb;
  --neutral-150: #829cb4;
  --neutral-175: #7894ad;
  --neutral-200: #6e8ca8;
  --neutral-300: #56748f;
  --neutral-400: #496279;
  --neutral-500: #435a6f;
  --neutral-600: #37536c;
  --neutral-700: #2c4b68;
  --neutral-800: #1f4160;
  --neutral-900: #153656;
  --neutral-1000: #092744;
  --neutral-3A: rgba(67, 90, 111, 0.025);
  --neutral-5A: rgba(67, 90, 111, 0.041);
  --neutral-7A: rgba(67, 90, 111, 0.057);
  --neutral-10A: rgba(67, 90, 111, 0.079);
  --neutral-15A: rgba(67, 90, 111, 0.114);
  --neutral-20A: rgba(67, 90, 111, 0.146);
  --neutral-30A: rgba(67, 90, 111, 0.204);
  --neutral-40A: rgba(67, 90, 111, 0.255);
  --neutral-50A: rgba(67, 90, 111, 0.301);
  --neutral-60A: rgba(67, 90, 111, 0.342);
  --neutral-70A: rgba(67, 90, 111, 0.38);
  --neutral-80A: rgba(67, 90, 111, 0.415);
  --neutral-90A: rgba(67, 90, 111, 0.447);
  --neutral-100A: rgba(67, 90, 111, 0.477);
  --neutral-125A: rgba(67, 90, 111, 0.544);
  --neutral-150A: rgba(67, 90, 111, 0.602);
  --neutral-175A: rgba(67, 90, 111, 0.653);
  --neutral-200A: rgba(67, 90, 111, 0.699);
  --neutral-300A: rgba(67, 90, 111, 0.845);
  --neutral-400A: rgba(67, 90, 111, 0.954);

  /** red */

  --red-3: #fffbfa;
  --red-5: #fff9f7;
  --red-7: #fef6f3;
  --red-10: #fef3ef;
  --red-15: #feede8;
  --red-20: #fde8e1;
  --red-30: #fddfd5;
  --red-40: #fcd7ca;
  --red-50: #fbd0c1;
  --red-60: #fbcab9;
  --red-70: #fac4b1;
  --red-80: #fabeaa;
  --red-90: #fab9a3;
  --red-100: #f9b59d;
  --red-125: #f8aa8f;
  --red-150: #f8a183;
  --red-175: #f79978;
  --red-200: #f7926f;
  --red-300: #f57b51;
  --red-400: #f46a3a;
  --red-500: #f36331;
  --red-600: #f4541d;
  --red-700: #f4450a;
  --red-800: #dd3c06;
  --red-900: #c63403;
  --red-1000: #a32800;
  --red-3A: rgba(243, 99, 49, 0.025);
  --red-5A: rgba(243, 99, 49, 0.041);
  --red-7A: rgba(243, 99, 49, 0.057);
  --red-10A: rgba(243, 99, 49, 0.079);
  --red-15A: rgba(243, 99, 49, 0.114);
  --red-20A: rgba(243, 99, 49, 0.146);
  --red-30A: rgba(243, 99, 49, 0.204);
  --red-40A: rgba(243, 99, 49, 0.255);
  --red-50A: rgba(243, 99, 49, 0.301);
  --red-60A: rgba(243, 99, 49, 0.342);
  --red-70A: rgba(243, 99, 49, 0.38);
  --red-80A: rgba(243, 99, 49, 0.415);
  --red-90A: rgba(243, 99, 49, 0.447);
  --red-100A: rgba(243, 99, 49, 0.477);
  --red-125A: rgba(243, 99, 49, 0.544);
  --red-150A: rgba(243, 99, 49, 0.602);
  --red-175A: rgba(243, 99, 49, 0.653);
  --red-200A: rgba(243, 99, 49, 0.699);
  --red-300A: rgba(243, 99, 49, 0.845);
  --red-400A: rgba(243, 99, 49, 0.954);

  /** green */

  --green-3: #fafdfc;
  --green-5: #f7fcfa;
  --green-7: #f5fbf8;
  --green-10: #f0f9f5;
  --green-15: #eaf7f1;
  --green-20: #e4f5ed;
  --green-30: #d9f1e5;
  --green-40: #d0eddf;
  --green-50: #c8ead9;
  --green-60: #c0e7d4;
  --green-70: #b9e4cf;
  --green-80: #b3e2cb;
  --green-90: #addfc7;
  --green-100: #a7ddc3;
  --green-125: #9bd8ba;
  --green-150: #90d4b3;
  --green-175: #87d1ad;
  --green-200: #7ecda7;
  --green-300: #64c395;
  --green-400: #4fbb87;
  --green-500: #47b881;
  --green-600: #3faf77;
  --green-700: #37a56d;
  --green-800: #2d9760;
  --green-900: #248953;
  --green-1000: #197140;
  --green-3A: rgba(71, 184, 129, 0.025);
  --green-5A: rgba(71, 184, 129, 0.041);
  --green-7A: rgba(71, 184, 129, 0.057);
  --green-10A: rgba(71, 184, 129, 0.079);
  --green-15A: rgba(71, 184, 129, 0.114);
  --green-20A: rgba(71, 184, 129, 0.146);
  --green-30A: rgba(71, 184, 129, 0.204);
  --green-40A: rgba(71, 184, 129, 0.255);
  --green-50A: rgba(71, 184, 129, 0.301);
  --green-60A: rgba(71, 184, 129, 0.342);
  --green-70A: rgba(71, 184, 129, 0.38);
  --green-80A: rgba(71, 184, 129, 0.415);
  --green-90A: rgba(71, 184, 129, 0.447);
  --green-100A: rgba(71, 184, 129, 0.477);
  --green-125A: rgba(71, 184, 129, 0.544);
  --green-150A: rgba(71, 184, 129, 0.602);
  --green-175A: rgba(71, 184, 129, 0.653);
  --green-200A: rgba(71, 184, 129, 0.699);
  --green-300A: rgba(71, 184, 129, 0.845);
  --green-400A: rgba(71, 184, 129, 0.954);

  /** blue */

  --blue-3: #f8fbff;
  --blue-5: #f3f9ff;
  --blue-7: #eef7ff;
  --blue-10: #e7f3ff;
  --blue-15: #ddeeff;
  --blue-20: #d3eaff;
  --blue-30: #c2e1ff;
  --blue-40: #b3daff;
  --blue-50: #a5d3ff;
  --blue-60: #99cdff;
  --blue-70: #8ec8fe;
  --blue-80: #83c3fe;
  --blue-90: #7abefe;
  --blue-100: #71b9fe;
  --blue-125: #5db0fe;
  --blue-150: #4ba7fe;
  --blue-175: #3ca0fe;
  --blue-200: #2e99fe;
  --blue-300: #0384fe;
  --blue-400: #0173df;
  --blue-500: #016cd1;
  --blue-600: #0165c7;
  --blue-700: #015ebd;
  --blue-800: #0055b0;
  --blue-900: #004ca3;
  --blue-1000: #00408f;
  --blue-3A: rgba(1, 108, 209, 0.025);
  --blue-5A: rgba(1, 108, 209, 0.041);
  --blue-7A: rgba(1, 108, 209, 0.057);
  --blue-10A: rgba(1, 108, 209, 0.079);
  --blue-15A: rgba(1, 108, 209, 0.114);
  --blue-20A: rgba(1, 108, 209, 0.146);
  --blue-30A: rgba(1, 108, 209, 0.204);
  --blue-40A: rgba(1, 108, 209, 0.255);
  --blue-50A: rgba(1, 108, 209, 0.301);
  --blue-60A: rgba(1, 108, 209, 0.342);
  --blue-70A: rgba(1, 108, 209, 0.38);
  --blue-80A: rgba(1, 108, 209, 0.415);
  --blue-90A: rgba(1, 108, 209, 0.447);
  --blue-100A: rgba(1, 108, 209, 0.477);
  --blue-125A: rgba(1, 108, 209, 0.544);
  --blue-150A: rgba(1, 108, 209, 0.602);
  --blue-175A: rgba(1, 108, 209, 0.653);
  --blue-200A: rgba(1, 108, 209, 0.699);
  --blue-300A: rgba(1, 108, 209, 0.845);
  --blue-400A: rgba(1, 108, 209, 0.954);

  /** purple */

  --purple-3: #fbfbfd;
  --purple-5: #f9f8fc;
  --purple-7: #f6f5fb;
  --purple-10: #f3f1fa;
  --purple-15: #eeecf8;
  --purple-20: #e9e6f6;
  --purple-30: #e0dcf2;
  --purple-40: #d8d3ef;
  --purple-50: #d2ccec;
  --purple-60: #cbc5e9;
  --purple-70: #c6bee7;
  --purple-80: #c0b8e5;
  --purple-90: #bcb3e3;
  --purple-100: #b7ade1;
  --purple-125: #ada2dd;
  --purple-150: #a498d9;
  --purple-175: #9c8fd6;
  --purple-200: #9587d3;
  --purple-300: #7f6fca;
  --purple-400: #6f5cc3;
  --purple-500: #6854c0;
  --purple-600: #5d47bd;
  --purple-700: #553eb5;
  --purple-800: #4c37a8;
  --purple-900: #443099;
  --purple-1000: #382683;
  --purple-3A: rgba(104, 84, 192, 0.025);
  --purple-5A: rgba(104, 84, 192, 0.041);
  --purple-7A: rgba(104, 84, 192, 0.057);
  --purple-10A: rgba(104, 84, 192, 0.079);
  --purple-15A: rgba(104, 84, 192, 0.114);
  --purple-20A: rgba(104, 84, 192, 0.146);
  --purple-30A: rgba(104, 84, 192, 0.204);
  --purple-40A: rgba(104, 84, 192, 0.255);
  --purple-50A: rgba(104, 84, 192, 0.301);
  --purple-60A: rgba(104, 84, 192, 0.342);
  --purple-70A: rgba(104, 84, 192, 0.38);
  --purple-80A: rgba(104, 84, 192, 0.415);
  --purple-90A: rgba(104, 84, 192, 0.447);
  --purple-100A: rgba(104, 84, 192, 0.477);
  --purple-125A: rgba(104, 84, 192, 0.544);
  --purple-150A: rgba(104, 84, 192, 0.602);
  --purple-175A: rgba(104, 84, 192, 0.653);
  --purple-200A: rgba(104, 84, 192, 0.699);
  --purple-300A: rgba(104, 84, 192, 0.845);
  --purple-400A: rgba(104, 84, 192, 0.954);

  /** pink */

  --pink-3: #fefafb;
  --pink-5: #fef7f9;
  --pink-7: #fef4f7;
  --pink-10: #fdeff4;
  --pink-15: #fce8ef;
  --pink-20: #fbe2ea;
  --pink-30: #fad6e2;
  --pink-40: #f9ccdb;
  --pink-50: #f7c3d4;
  --pink-60: #f6bbce;
  --pink-70: #f5b3c9;
  --pink-80: #f5acc4;
  --pink-90: #f4a6c0;
  --pink-100: #f3a0bb;
  --pink-125: #f193b2;
  --pink-150: #f087aa;
  --pink-175: #ef7da2;
  --pink-200: #ee749c;
  --pink-300: #ea5787;
  --pink-400: #e74178;
  --pink-500: #e63871;
  --pink-600: #e42b68;
  --pink-700: #e31e5e;
  --pink-800: #d31a57;
  --pink-900: #c11850;
  --pink-1000: #a71545;
  --pink-3A: rgba(230, 56, 113, 0.025);
  --pink-5A: rgba(230, 56, 113, 0.041);
  --pink-7A: rgba(230, 56, 113, 0.057);
  --pink-10A: rgba(230, 56, 113, 0.079);
  --pink-15A: rgba(230, 56, 113, 0.114);
  --pink-20A: rgba(230, 56, 113, 0.146);
  --pink-30A: rgba(230, 56, 113, 0.204);
  --pink-40A: rgba(230, 56, 113, 0.255);
  --pink-50A: rgba(230, 56, 113, 0.301);
  --pink-60A: rgba(230, 56, 113, 0.342);
  --pink-70A: rgba(230, 56, 113, 0.38);
  --pink-80A: rgba(230, 56, 113, 0.415);
  --pink-90A: rgba(230, 56, 113, 0.447);
  --pink-100A: rgba(230, 56, 113, 0.477);
  --pink-125A: rgba(230, 56, 113, 0.544);
  --pink-150A: rgba(230, 56, 113, 0.602);
  --pink-175A: rgba(230, 56, 113, 0.653);
  --pink-200A: rgba(230, 56, 113, 0.699);
  --pink-300A: rgba(230, 56, 113, 0.845);
  --pink-400A: rgba(230, 56, 113, 0.954);

  /** yellow */

  --yellow-3: #fffefb;
  --yellow-5: #fffdf8;
  --yellow-7: #fffcf5;
  --yellow-10: #fefaf1;
  --yellow-15: #fef9eb;
  --yellow-20: #fef7e6;
  --yellow-30: #fdf3dc;
  --yellow-40: #fdf0d3;
  --yellow-50: #fdeecb;
  --yellow-60: #fcecc4;
  --yellow-70: #fce9be;
  --yellow-80: #fce7b8;
  --yellow-90: #fbe6b2;
  --yellow-100: #fbe4ad;
  --yellow-125: #fbe0a1;
  --yellow-150: #fadd97;
  --yellow-175: #fada8f;
  --yellow-200: #f9d787;
  --yellow-300: #f8cf6e;
  --yellow-400: #f7c95b;
  --yellow-500: #f7c653;
  --yellow-600: #f6b94b;
  --yellow-700: #f4ab43;
  --yellow-800: #f29738;
  --yellow-900: #f0822d;
  --yellow-1000: #ec601e;
  --yellow-3A: rgba(247, 198, 83, 0.025);
  --yellow-5A: rgba(247, 198, 83, 0.041);
  --yellow-7A: rgba(247, 198, 83, 0.057);
  --yellow-10A: rgba(247, 198, 83, 0.079);
  --yellow-15A: rgba(247, 198, 83, 0.114);
  --yellow-20A: rgba(247, 198, 83, 0.146);
  --yellow-30A: rgba(247, 198, 83, 0.204);
  --yellow-40A: rgba(247, 198, 83, 0.255);
  --yellow-50A: rgba(247, 198, 83, 0.301);
  --yellow-60A: rgba(247, 198, 83, 0.342);
  --yellow-70A: rgba(247, 198, 83, 0.38);
  --yellow-80A: rgba(247, 198, 83, 0.415);
  --yellow-90A: rgba(247, 198, 83, 0.447);
  --yellow-100A: rgba(247, 198, 83, 0.477);
  --yellow-125A: rgba(247, 198, 83, 0.544);
  --yellow-150A: rgba(247, 198, 83, 0.602);
  --yellow-175A: rgba(247, 198, 83, 0.653);
  --yellow-200A: rgba(247, 198, 83, 0.699);
  --yellow-300A: rgba(247, 198, 83, 0.845);
  --yellow-400A: rgba(247, 198, 83, 0.954);

  /** turquoise */

  --turquoise-3: #f9fefe;
  --turquoise-5: #f4fdfe;
  --turquoise-7: #f0fcfe;
  --turquoise-10: #ebfafd;
  --turquoise-15: #e2f8fc;
  --turquoise-20: #d9f7fb;
  --turquoise-30: #cbf3fa;
  --turquoise-40: #bdf0f9;
  --turquoise-50: #b2eef8;
  --turquoise-60: #a7ebf7;
  --turquoise-70: #9de9f6;
  --turquoise-80: #94e7f5;
  --turquoise-90: #8ce5f4;
  --turquoise-100: #84e3f3;
  --turquoise-125: #73dff2;
  --turquoise-150: #64dcf0;
  --turquoise-175: #57d9ef;
  --turquoise-200: #4bd6ee;
  --turquoise-300: #26ceea;
  --turquoise-400: #15bfdc;
  --turquoise-500: #14b5d0;
  --turquoise-600: #11aac6;
  --turquoise-700: #0fa0bc;
  --turquoise-800: #0b92ae;
  --turquoise-900: #0984a0;
  --turquoise-1000: #056f8a;
  --turquoise-3A: rgba(20, 181, 208, 0.025);
  --turquoise-5A: rgba(20, 181, 208, 0.041);
  --turquoise-7A: rgba(20, 181, 208, 0.057);
  --turquoise-10A: rgba(20, 181, 208, 0.079);
  --turquoise-15A: rgba(20, 181, 208, 0.114);
  --turquoise-20A: rgba(20, 181, 208, 0.146);
  --turquoise-30A: rgba(20, 181, 208, 0.204);
  --turquoise-40A: rgba(20, 181, 208, 0.255);
  --turquoise-50A: rgba(20, 181, 208, 0.301);
  --turquoise-60A: rgba(20, 181, 208, 0.342);
  --turquoise-70A: rgba(20, 181, 208, 0.38);
  --turquoise-80A: rgba(20, 181, 208, 0.415);
  --turquoise-90A: rgba(20, 181, 208, 0.447);
  --turquoise-100A: rgba(20, 181, 208, 0.477);
  --turquoise-125A: rgba(20, 181, 208, 0.544);
  --turquoise-150A: rgba(20, 181, 208, 0.602);
  --turquoise-175A: rgba(20, 181, 208, 0.653);
  --turquoise-200A: rgba(20, 181, 208, 0.699);
  --turquoise-300A: rgba(20, 181, 208, 0.845);
  --turquoise-400A: rgba(20, 181, 208, 0.954);

  /** white */

  --white-500: #ffffff;
  --white-3A: rgba(255, 255, 255, 0.025);
  --white-5A: rgba(255, 255, 255, 0.041);
  --white-7A: rgba(255, 255, 255, 0.057);
  --white-10A: rgba(255, 255, 255, 0.079);
  --white-15A: rgba(255, 255, 255, 0.114);
  --white-20A: rgba(255, 255, 255, 0.146);
  --white-30A: rgba(255, 255, 255, 0.204);
  --white-40A: rgba(255, 255, 255, 0.255);
  --white-50A: rgba(255, 255, 255, 0.301);
  --white-60A: rgba(255, 255, 255, 0.342);
  --white-70A: rgba(255, 255, 255, 0.38);
  --white-80A: rgba(255, 255, 255, 0.415);
  --white-90A: rgba(255, 255, 255, 0.447);
  --white-100A: rgba(255, 255, 255, 0.477);
  --white-125A: rgba(255, 255, 255, 0.544);
  --white-150A: rgba(255, 255, 255, 0.602);
  --white-175A: rgba(255, 255, 255, 0.653);
  --white-200A: rgba(255, 255, 255, 0.699);
  --white-300A: rgba(255, 255, 255, 0.845);
  --white-400A: rgba(255, 255, 255, 0.954);
}
