{
  "env": {
    // Workaround Babel 6's weird config inheritance by not having any root
    // config (`{"modules":false}` gets overridden). This can be improved with
    // Babel 7's `.babelrc.js` support.
    "development": {
      "presets": ["env", "react", "stage-0"]
    },
    "test": {
      "presets": ["env", "react", "stage-0"]
    },
    "production": {
      "presets": ["env", "react", "stage-0"]
    },
    "commonjs": {
      "presets": ["env", "react", "stage-0"]
    },
    "esm": {
      "presets": [["env", { "modules": false }], "react", "stage-0"]
    }
  }
}
