<Manager>
  {({ setState, state }) => (
    <SelectMenu
      title="Select name"
      options={options}
      selected={state.selected}
      onSelect={item => setState({ selected: item.value })}
    >
      <Button>{state.selected || 'Select name...'}</Button>
    </SelectMenu>
  )}
</Manager>
