.code {
  font-family: var(--font-mono);
  background-color: var(--teal-lightest);
  box-shadow: 0 0 0 1px var(--teal-light);
  color: var(--teal-dark);
  border-radius: 2px;
  font-size: 90%;
  font-weight: 500;
  padding: 2px 4px;
}

.paragraph,
.li {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.05px;
}

.paragraph {
  margin-top: 1em;
  margin-bottom: 1em;
}

.li {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.2px;
  margin-top: 48px;
  margin-bottom: 4px;

  /* & + .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.05px;
    margin-top: 8px;
    margin-bottom: 8px;
  } */
}

.h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin-bottom: 16px;
  margin-top: 42px;
}

.h3 {
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.05px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.h4 {
  font-size: 18px;
  font-family: var(--font-ui);
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.05px;
  margin-bottom: 4px;
  margin-top: 32px;
}

.h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.05px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.05px;
  margin-bottom: 4px;
  margin-top: 32px;

  & + .paragraph {
    margin-top: 0;
  }
}

.link {
  color: var(--blue-base);

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 1px solid var(--blue-base);
  }
}

.blockquote {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.05px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-left: 2px solid var(--green-100A);
  padding: 12px;
  background-color: var(--green-7A);
}

.strong {
  font-weight: 600;
}

.ul {
  list-style-type: disc;
  margin-left: 1.1em;
  margin-top: 16px;
  margin-bottom: 16px;
}
