*,
*::after,
&::before {
  border-box: box-sizing;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  color: var(--neutral-500);
  font-family: var(--font-ui);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--neutral-800);
  font-family: var(--font-display);
}

tt,
code,
kbd,
samp {
  font-family: var(--font-mono);
  font-weight: 500;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
