.NavGroup {
  & a {
    display: block;
    font-size: 14px;
    padding: 8px;
    margin: 2px -8px;
    color: var(--neutral-300);
    border-radius: 3px;

    &:hover {
      color: var(--neutral-500);
      background-color: var(--neutral-5A);
    }

    &:active,
    &.is-active {
      background-color: var(--blue-10A);
      color: var(--blue-500);
    }
  }
}

.NavGroup-title {
  margin-bottom: 8px;

  @media (--range-palm) {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.2px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  @media (--range-hand) {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.2px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  @media (--range-lap) {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.2px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
