/* scratch css */
.bg-tint1 {
  background: var(--N1);
}

.border-bottom-default {
  border-bottom: 1px solid var(--color-border-default);
}

.border-bottom-muted {
  border-bottom: 1px solid var(--color-border-muted);
}
