.TopBar {
  z-index: 1;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;

  @media (--range-palm) {
    height: 52px;
  }

  @media (--range-palm), (--range-hand), (--range-lap) {
    box-shadow: var(--elevation-0);
  }

  @media (--range-desk) {
    box-shadow: var(--elevation-1);
  }
}

.TopBar-nav {
  position: relative;
  flex: 1;

  @media (--range-palm), (--range-hand) {
    margin-left: 12px;
  }

  @media (--range-lap), (--range-desk) {
    margin-left: 24px;
  }
}

.TopBar-navRight {
}

.TopBar-link {
  color: var(--neutral-500);
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 12px;
  margin-right: 2px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.4px;
  border-radius: 3px;

  &:hover {
    background-color: var(--neutral-7A);
  }

  &:active,
  &.is-active {
    background-color: var(--blue-7A);
    color: var(--blue-500);
  }

  &:focus {
    box-shadow: inset 0 0 0 1px var(--blue-100A);
  }

  & .icon-holder {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: -2px;

    & + span {
      margin-left: 8px;
    }
  }

  @media (--range-palm) {
    height: 32px;

    & .hide-on-mobile {
      display: none;
    }

    & .icon-holder + .hide-on-mobile {
      margin-left: 0px;
    }
  }
}
