<div>
  <div>
    <Code size={300}>The quick brown fox jumps over the lazy dog</Code>
  </div>
  <div>
    <Code size={400}>The quick brown fox jumps over the lazy dog</Code>
  </div>
  <div>
    <Code size={500}>The quick brown fox jumps over the lazy dog</Code>
  </div>
  <div>
    <Code size={300} appearance="minimal">The quick brown fox jumps over the lazy dog</Code>
  </div>
  <div>
    <Code size={400} appearance="minimal">The quick brown fox jumps over the lazy dog</Code>
  </div>
  <div>
    <Code size={500} appearance="minimal">The quick brown fox jumps over the lazy dog</Code>
  </div>
</div>
