<Box>
  <Heading size={100} isUppercase>The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={200} isUppercase>The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={300}>The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={400}>The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={500}>The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={600}>The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={700}>The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={800}>The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={900}>The quick brown fox jumps over the lazy dog</Heading>
</Box>
