<Box>
  <Heading size={100} marginTop="default">100: The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={200} marginTop="default">200: The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={300} marginTop="default">300: The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={400} marginTop="default">400: The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={500} marginTop="default">500: The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={600} marginTop="default">600: The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={700} marginTop="default">700: The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={800} marginTop="default">800: The quick brown fox jumps over the lazy dog</Heading>
  <Heading size={900} marginTop="default">900: The quick brown fox jumps over the lazy dog</Heading>
</Box>
