<div>
  <div>
    <Label size={300}>The quick brown fox jumps over the lazy dog</Label>
  </div>
  <div>
    <Label size={400}>The quick brown fox jumps over the lazy dog</Label>
  </div>
  <div>
    <Label size={500}>The quick brown fox jumps over the lazy dog</Label>
  </div>
</div>
