<Box>
  <Link href="#" marginRight={12}>Default</Link>
  <Link href="#" marginRight={12} color="green">Green</Link>
  <Link href="#" marginRight={12} color="blue">Blue</Link>
  <Link href="#" marginRight={12} color="neutral">Neutral</Link>
</Box>
