<Box>
  <Strong size={100} isUppercase>The quick brown fox jumps over the lazy dog</Strong>
  <Strong size={200} isUppercase>The quick brown fox jumps over the lazy dog</Strong>
  <Strong size={300}>The quick brown fox jumps over the lazy dog</Strong>
  <Strong size={400}>The quick brown fox jumps over the lazy dog</Strong>
  <Strong size={500}>The quick brown fox jumps over the lazy dog</Strong>
  <Strong size={600}>The quick brown fox jumps over the lazy dog</Strong>
  <Strong size={700}>The quick brown fox jumps over the lazy dog</Strong>
  <Strong size={800}>The quick brown fox jumps over the lazy dog</Strong>
  <Strong size={900}>The quick brown fox jumps over the lazy dog</Strong>
</Box>
