<Box>
  <SubHeading size={100} isUppercase>The quick brown fox jumps over the lazy dog</SubHeading>
  <SubHeading size={200} isUppercase>The quick brown fox jumps over the lazy dog</SubHeading>
  <SubHeading size={300}>The quick brown fox jumps over the lazy dog</SubHeading>
  <SubHeading size={400}>The quick brown fox jumps over the lazy dog</SubHeading>
  <SubHeading size={500}>The quick brown fox jumps over the lazy dog</SubHeading>
  <SubHeading size={600}>The quick brown fox jumps over the lazy dog</SubHeading>
  <SubHeading size={700}>The quick brown fox jumps over the lazy dog</SubHeading>
  <SubHeading size={800}>The quick brown fox jumps over the lazy dog</SubHeading>
  <SubHeading size={900}>The quick brown fox jumps over the lazy dog</SubHeading>
</Box>
