<DialogManager>
  {({ isShown, show, hide }) => (
    <Box>
      <Dialog
        isShown={isShown}
        hasHeader={false}
        hasFooter={false}
        onCloseComplete={hide}
      >
        {({ close }) => (
          <Box>
            <Paragraph>
              Manage your own header, buttons and interactions.
            </Paragraph>
            <Button marginTop={16} onClick={close}>
              Self Managed Close
            </Button>
          </Box>
        )}
      </Dialog>
      <Button onClick={show}>Show Dialog without Header</Button>
    </Box>
  )}
</DialogManager>
