<DialogManager>
  {({ isShown, show, hide }) => (
    <Box>
      <Dialog
        isShown={isShown}
        title="Dialog with Internal Scrolling"
        onCloseComplete={hide}
      >
        <Box height={1200} width="100%" backgroundColor="#ddd" />
      </Dialog>
      <Button onClick={show}>Show Dialog with Internal Scrolling</Button>
    </Box>
  )}
</DialogManager>
