<DialogManager>
  {({ isShown, show, hide }) => (
    <Box>
      <Dialog
        isShown={isShown}
        title="Dialog Title"
        onCloseComplete={hide}
        confirmLabel="Custom Label"
      >
        <Paragraph>Dialog content</Paragraph>
      </Dialog>
      <Button onClick={show}>Show Dialog with Custom Button Label</Button>
    </Box>
  )}
</DialogManager>
