<DialogManager>
  {({ isShown, isLoading, confirmLoading, show, hide }) => (
    <Box>
      <Dialog
        isShown={isShown}
        title="Dialog with Loading Confirmation"
        onConfirm={confirmLoading}
        confirmLabel={isLoading ? 'Loading...' : 'Confirm Loading'}
        isConfirmLoading={isLoading}
        onCloseComplete={hide}
      >
        <Paragraph>
          This is useful when you need to process something before closing
          the dialog.
        </Paragraph>
      </Dialog>
      <Button onClick={show}>Show Dialog with Loading Confirmation</Button>
    </Box>
  )}
</DialogManager>
