<DialogManager>
  {({ isShown, show, hide }) => (
    <Box>
      <Dialog
        isShown={isShown}
        title="Dialog with Self Managed Close"
        onCloseComplete={hide}
        hasFooter={false}
      >
        {({ close }) => (
          <Box>
            <Paragraph>Manage Your Own Buttons and Interactions.</Paragraph>
            <Button marginTop={16} onClick={close}>
              Self Managed Close
            </Button>
          </Box>
        )}
      </Dialog>
      <Button onClick={show}>Show Dialog with Self Managed Close</Button>
    </Box>
  )}
</DialogManager>
