<DialogManager>
  {({ isShown, show, hide }) => (
    <Box>
      <Dialog
        isShown={isShown}
        title="Dialog without Buttons"
        onCloseComplete={hide}
        hasFooter={false}
      >
        <Box>
          <Paragraph>Manage your own buttons and interactions.</Paragraph>
        </Box>
      </Dialog>
      <Button onClick={show}>Show Dialog without Buttons</Button>
    </Box>
  )}
</DialogManager>
