<TableHead>
  <SearchTableHeaderCell borderRight={null} onChange={(e) => console.log(e)} placeholder='Search by email...' />
  <SearchTableHeaderCell autoFocus borderRight={null} onChange={(e) => console.log(e)} placeholder='Autofocus...' />
</TableHead>
