<div>
  {['none', 'danger', 'warning', 'success'].map(intent => {
    return (
      <Table.Row
        key={intent}
        isSelectable
        onSelect={() => alert(intent)}
        intent={intent}
      >
        <Table.TextCell>{intent}</Table.TextCell>
      </Table.Row>
    )
  })}
</div>
