<TableBody height={320}>
  {profiles.map(profile => (
    <TableRow key={profile.id} isSelectable>
      <TextTableCell>{profile.name}</TextTableCell>
      <TextTableCell>{profile.lastActivity}</TextTableCell>
      <TextTableCell isNumber borderRight={null}>
        {profile.ltv}
      </TextTableCell>
    </TableRow>
  ))}
</TableBody>
