<div>
  <TableRow onSelect={() => console.log('select Banana')} isSelectable>
    <TextTableCell borderRight={null}>Banana</TextTableCell>
  </TableRow>
  <TableRow onSelect={() => console.log('select Pear')} isSelectable>
    <TextTableCell borderRight={null}>Pear</TextTableCell>
  </TableRow>
  <TableRow onSelect={() => console.log('select Kiwi')} isSelectable>
    <TextTableCell borderRight={null}>Kiwi</TextTableCell>
  </TableRow>
</div>
