<Table.Body height={320}>
  {profiles.map(profile => (
    <Table.Row key={profile.id} isSelectable>
      <Table.TextCell>{profile.name}</Table.TextCell>
      <Table.TextCell>{profile.lastActivity}</Table.TextCell>
      <Table.TextCell isNumber>
        {profile.ltv}
      </Table.TextCell>
    </Table.Row>
  ))}
</Table.Body>
