<Table.Row>
  <Table.TextCell size={500}>You want to use this component</Table.TextCell>
  <Table.TextCell size={500}>When you are using text</Table.TextCell>
  <Table.TextCell size={500}>In your table cell</Table.TextCell>
</Table.Row>
