<div>
  <Component
    initialState={{
      options: [
        { label: 'Read-only', value: 'read-only' },
        { label: 'Write', value: 'write' },
        { label: 'Restricted', value: 'restricted' },
      ],
      value: 'restricted',
    }}
  >
    {({ state, setState }) => (
      <RadioGroup
        label="Permissions"
        value={state.value}
        options={state.options}
        onChange={value => setState({ value })}
      />
    )}
  </Component>
  <Component
    initialState={{
      options: [
        { label: 'Read-only', value: 'read-only' },
        { label: 'Write', value: 'write' },
        { label: 'Restricted', value: 'restricted' },
      ],
      value: 'restricted',
    }}
  >
    {({ state, setState }) => (
      <RadioGroup
        marginTop={40}
        size={16}
        label="Permissions"
        value={state.value}
        options={state.options}
        onChange={value => setState({ value })}
      />
    )}
  </Component>
</div>
