<Box display='flex'>
  <Box flex={1}>
    <Button
      marginRight={8}
      onClick={() => toaster.notify('A simple general message')}
    >
      Notify
    </Button>
    <Button
      marginRight={8}
      onClick={() =>
        toaster.success(
          'Hooray! You did it. Your Source is now sending data.'
        )
      }
    >
      Success
    </Button>
    <Button
      marginRight={8}
      onClick={() => toaster.warning('Changes will affect all Warehouses.')}
    >
      Warning
    </Button>
    <Button
      marginRight={8}
      onClick={() => toaster.danger('Changes will affect all Warehouses.')}
    >
      Danger
    </Button>
    <Button
      marginRight={8}
      onClick={() =>
        toaster.info('There are over 180 integrations available.')
      }
    >
      Info
    </Button>
  </Box>
  <Box>
    <Button onClick={() => toaster.closeAll()}>Close All</Button>
  </Box>
</Box>
