<Box clearfix>
  {Object.keys(IconNames).map(iconKey => {
    return (
      <Box
        key={iconKey}
        float="left"
        width={140}
        height={140}
        display="flex"
        alignItems="center"
        justifyContent="center"
        flexDirection="column"
        textAlign="center"
      >
        <Icon icon={IconNames[iconKey]} color="default" />
        <Text is="p" size={300} marginTop={9}>
          {IconNames[iconKey]}
        </Text>
      </Box>
    )
  })}
</Box>