
<Component
  initialState={{
    options: [
      { label: 'Height 24', value: 24 },
      { label: 'Height 32', value: 32 },
      { label: 'Height 40', value: 40 }
    ],
    value: 32
  }}
>
  {({ state, setState }) => (
    <React.Fragment>
      <SegmentedControl
        name="button-size"
        width={280}
        options={state.options}
        value={state.value}
        onChange={value => setState({ value: Number(value) })}
      />
      <Heading marginTop="default">Default Appearance</Heading>
      <Box marginTop={12}>
        <Button height={state.value} marginRight={16}>
          Default
        </Button>
        <Button height={state.value} marginRight={16} intent="success">
          Success
        </Button>
        <Button height={state.value} marginRight={16} intent="warning">
          Warning
        </Button>
        <Button height={state.value} marginRight={16} intent="danger">
          Danger
        </Button>
        <Button height={state.value} marginRight={16} iconBefore="edit">
          Icon Before
        </Button>
        <Button height={state.value} iconAfter="arrow-right">
          Icon After
        </Button>
      </Box>
      <Heading marginTop="default">Primary Appearance</Heading>
      <Box marginTop={12}>
        <Button height={state.value} appearance="primary" marginRight={16}>
          Default
        </Button>
        <Button
          height={state.value}
          appearance="primary"
          marginRight={16}
          intent="success"
        >
          Success
        </Button>
        <Button
          height={state.value}
          appearance="primary"
          marginRight={16}
          intent="warning"
        >
          Warning
        </Button>
        <Button height={state.value} marginRight={16} appearance="primary" intent="danger">
          Danger
        </Button>
        <Button height={state.value} marginRight={16} appearance="primary" intent="success" iconBefore="add">
          Icon Before
        </Button>
        <Button height={state.value} appearance="primary" iconAfter="arrow-right">
          Icon After
        </Button>
      </Box>
      <Heading marginTop="default">Minimal Appearance</Heading>
      <Box marginTop={12}>
        <Button height={state.value} appearance="minimal" marginRight={16}>
          Default
        </Button>
        <Button
          height={state.value}
          appearance="minimal"
          marginRight={16}
          intent="success"
        >
          Success
        </Button>
        <Button
          height={state.value}
          appearance="minimal"
          marginRight={16}
          intent="warning"
        >
          Warning
        </Button>
        <Button height={state.value} marginRight={16} appearance="minimal" intent="danger">
          Danger
        </Button>
        <Button height={state.value} marginRight={16} appearance="minimal" iconBefore="edit">
          Icon Before
        </Button>
        <Button height={state.value} appearance="minimal" iconAfter="caret-down">
          Icon After
        </Button>
      </Box>
    </React.Fragment>
  )}
</Component>