<div>
  <Button marginRight={12} iconBefore="cog">Settings</Button>
  <Button marginRight={12} iconBefore="edit">Edit</Button>
  <Button marginRight={12} iconBefore="manual">Docs</Button>
  <Button marginRight={12} iconBefore="arrow-left">Back</Button>
  <Button marginRight={12} iconBefore="download">Download...</Button>
  <Button marginRight={12} iconBefore="trash" intent="danger">Delete...</Button>
  <Button marginRight={12} iconBefore="search">Search</Button>
  <Button marginRight={12} iconAfter="caret-down">Filter</Button>
</div>
