<Box clearfix>
  <Pane borderRight paddingRight={24} marginRight={24} float="left">
    <Heading marginBottom={16}>Height 32</Heading>
    <Box float="left" marginRight={16}>
      <IconButton marginBottom={16} icon="cog" />
      <IconButton marginBottom={16} icon="plus" />
      <IconButton marginBottom={16} icon="filter" />
      <IconButton marginBottom={16} icon="edit" />
      <IconButton marginBottom={16} icon="refresh" />
    </Box>
    <Box float="left">
      <IconButton marginBottom={16} appearance="minimal" icon="cross" />
      <IconButton marginBottom={16} appearance="minimal" icon="more" />
      <IconButton marginBottom={16} appearance="minimal" icon="plus" />
      <IconButton marginBottom={16} appearance="minimal" icon="edit" />
      <IconButton marginBottom={16} appearance="minimal" icon="search" />
    </Box>
  </Pane>
  <Pane float="left">
    <Heading marginBottom={16}>Height 24</Heading>
    <Box float="left" marginRight={16}>
      <IconButton marginBottom={16} height={24} icon="cog" />
      <IconButton marginBottom={16} height={24} icon="plus" />
      <IconButton marginBottom={16} height={24} icon="filter" />
      <IconButton marginBottom={16} height={24} icon="edit" />
      <IconButton marginBottom={16} height={24} icon="chevron-left" />
      <IconButton marginBottom={16} height={24} icon="chevron-right" />
    </Box>
    <Box float="left" marginRight={16}>
      <IconButton
        marginBottom={16}
        appearance="minimal"
        height={24}
        icon="cross"
      />
      <IconButton
        marginBottom={16}
        appearance="minimal"
        height={24}
        icon="more"
      />
      <IconButton
        marginBottom={16}
        appearance="minimal"
        height={24}
        icon="plus"
      />
      <IconButton
        marginBottom={16}
        appearance="minimal"
        height={24}
        icon="trash"
        intent="danger"
      />
      <IconButton
        marginBottom={16}
        appearance="minimal"
        height={24}
        icon="filter"
      />
      <IconButton
        marginBottom={16}
        appearance="minimal"
        height={24}
        icon="edit"
      />
    </Box>
    <Box float="left">
      <IconButton
        marginBottom={16}
        appearance="minimal"
        height={24}
        icon="clipboard"
      />
      <IconButton
        marginBottom={16}
        appearance="minimal"
        height={24}
        icon="calendar"
      />
      <IconButton
        marginBottom={16}
        appearance="minimal"
        height={24}
        icon="lock"
      />
      <IconButton
        marginBottom={16}
        appearance="minimal"
        height={24}
        icon="unlock"
      />
      <IconButton
        marginBottom={16}
        appearance="minimal"
        height={24}
        icon="notifications"
      />
      <IconButton
        marginBottom={16}
        appearance="minimal"
        height={24}
        icon="manual"
      />
    </Box>
  </Pane>
</Box>