<Box>
  <Alert
    marginBottom={32}
    intent="success"
    title="Hooray! You did it. Your Source is now sending data."
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </Alert>
  <Alert
    marginBottom={32}
    intent="warning"
    title="Changes will affect all Warehouses."
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </Alert>
  <Alert
    marginBottom={32}
    intent="danger"
    title="We weren’t able to save your changes."
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </Alert>
  <Alert
    marginBottom={32}
    intent="none"
    title="There are over 180 integrations available."
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </Alert>
</Box>
