<Box>
  <Alert
    appearance="card"
    marginBottom={32}
    title="A simple general message"
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </Alert>
  <Alert
    appearance="card"
    marginBottom={32}
    type="success"
    title="Hooray! You did it. Your Source is now sending data."
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </Alert>
  <Alert
    appearance="card"
    marginBottom={32}
    type="warning"
    title="Changes will affect all Warehouses."
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </Alert>
  <Alert
    appearance="card"
    marginBottom={32}
    type="danger"
    title="We weren’t able to save your changes."
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </Alert>
  <Alert
    appearance="card"
    marginBottom={32}
    type="question"
    title="There are over 180 integrations available."
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </Alert>
</Box>
