<Box>
  <InlineAlert intent="success" marginBottom={16}>
    Hooray! You did it. Your Source is now sending data.
  </InlineAlert>
  <InlineAlert intent="warning" marginBottom={16}>
    Changes will affect all Warehouses.
  </InlineAlert>
  <InlineAlert intent="danger" marginBottom={16}>
    We weren’t able to save your changes.
  </InlineAlert>
  <InlineAlert intent="none" marginBottom={16}>
    There are over 200 integrations available.
  </InlineAlert>
</Box>
