<ThemeConsumer>
  {theme => (
    <Pane clearfix>
      {Object.keys(theme.colors.border).map(borderColor => (
        <Pane key={borderColor} overflow="auto">
          <Pane
            borderTop={borderColor}
            float="left"
            width={160}
            height={120}
            margin={24}
            display="flex"
            alignItems="center"
            justifyContent="center"
          >
            <Text color="default">borderTop: {borderColor}</Text>
          </Pane>
          <Pane
            borderRight={borderColor}
            float="left"
            width={160}
            height={120}
            margin={24}
            display="flex"
            alignItems="center"
            justifyContent="center"
          >
            <Text color="default">borderRight: {borderColor}</Text>
          </Pane>
          <Pane
            borderBottom={borderColor}
            float="left"
            width={160}
            height={120}
            margin={24}
            display="flex"
            alignItems="center"
            justifyContent="center"
          >
            <Text color="default">borderBottom: {borderColor}</Text>
          </Pane>
          <Pane
            borderLeft={borderColor}
            float="left"
            width={160}
            height={120}
            margin={24}
            display="flex"
            alignItems="center"
            justifyContent="center"
          >
            <Text color="default">borderLeft: {borderColor}</Text>
          </Pane>
        </Pane>
      ))}
    </Pane>
  )}
</ThemeConsumer>