<Pane clearfix>
  <Pane
    appearance="tint1"
    float="left"
    width={120}
    height={120}
    margin={24}
    display="flex"
    alignItems="center"
    justifyContent="center"
  >
    <Text color="inherit">tint1</Text>
  </Pane>
  <Pane
    appearance="tint2"
    float="left"
    width={120}
    height={120}
    margin={24}
    display="flex"
    alignItems="center"
    justifyContent="center"
  >
    <Text color="inherit">tint1</Text>
  </Pane>
  <Pane
    appearance="tint3"
    float="left"
    width={120}
    height={120}
    margin={24}
    display="flex"
    alignItems="center"
    justifyContent="center"
  >
    <Text color="inherit">tint1</Text>
  </Pane>
  <Pane
    appearance="dark"
    color="white"
    float="left"
    width={120}
    height={120}
    margin={24}
    display="flex"
    alignItems="center"
    justifyContent="center"
  >
    <Text color="inherit">dark</Text>
  </Pane>
  <Pane
    appearance="selected"
    float="left"
    width={120}
    height={120}
    margin={24}
    display="flex"
    alignItems="center"
    justifyContent="center"
  >
    <Text color="inherit">selected</Text>
  </Pane>
</Pane>
