<Pane
  is="section"
  innerRef={(ref) => console.log(ref)}
  appearance="tint2"
  border="muted"
  marginLeft={12}
  marginY={24}
  paddingTop={12}
  paddingX={40}
  width={120}
  height={120}
  cursor="help"
  onClick={() => alert('Works just like expected')}
/>
