<Popover
  content={({ close }) => {
    return (
      <Pane
        width={240}
        height={240}
        display="flex"
        alignItems="center"
        justifyContent="center"
        flexDirection="column"
      >
        <Text>Closable Popover Content</Text>
        <Button autoFocus onClick={close}>Close</Button>
      </Pane>
    )
  }}
>
  <Button>Trigger Closable Popover</Button>
</Popover>
